<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav>
        <button onclick="location.href = '../login'">{{ campo1 }}</button>
        <button onclick="location.href = '../formulario'">{{ campo2 }}</button>
        <button onclick="location.href = '../admin'">{{ campo3 }}</button>
        <button onclick="location.href = '../logout'">{{ campo4 }}</button>
    </nav>

    <hr>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

    <hr>

    <footer>
        Contacto: {{ email }}
    </footer>
</html>
